%h1 Seattle CoderDojo Alexa Skill Workshop

%p
  Last week, we created an Alexa skill using the Alexa Skills Kit.

%h2 Quick Links
%ul
  %li <a href="https://developer.amazon.com/alexa/console/ask">Alexa Skills Kit</a>
  %li <a href="http://learn.amazonfutureengineer.com/alexa/fact-skill/">Last Week's Tutorial</a>
